@page "/{residentid}"
@using Distreet.Models.User
@model Distreet.Areas.Identity.Pages.Account.Profile
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "_NormalLayout";
    var user = await UserManager.GetUserAsync(User);
}

<div class="profile-header">
    <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="@Model.ApplicationUser.ProfilePicture" class="rounded float-start profile-img rounded-circle" alt="...">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col d-flex align-items-center justify-content-center">
            <h2 class="mx-auto">@Model.ApplicationUser.FullName</h2>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit Profile</button>
        </div>
    </div>
</div>

<hr class="mt-4"/>

@* Profile Navbar *@
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="pill" id="pills-posts-tab" data-bs-target="#pills-posts" type="button" role="tab" aria-controls="pills-posts" aria-selected="true">Posts</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" id="pills-about-tab" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="true">About</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" id="pills-friends-tab" data-bs-target="#pills-friends" type="button" role="tab" aria-controls="pills-friends" aria-selected="true">Friends</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" id="pills-photos-tab" data-bs-target="#pills-photos" type="button" role="tab" aria-controls="pills-photos" aria-selected="true">Photos</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" id="pills-more-tab" data-bs-target="#pills-more" type="button" role="tab" aria-controls="pills-more" aria-selected="true">More</button>
    </li>
</ul>
@* Profile Navbar End *@

<div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="pills-posts" role="tabpanel" aria-labelledby="pills-posts-tab">
@* Status Input *@
<div class="row g-3 mb-3">
<div class="col-5">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <h4 class="card-title intro-title">Intro</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div class="col-7">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="@Model.ApplicationUser.ProfilePicture" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <form method="post">
                        <input type="text" class="form-control rounded-pill" placeholder="What's on your mind?" asp-for="Input.PostContent"/>
                        <input type="hidden" value="Standard" asp-for="Input.PostType"/>
                        <input type="submit" hidden/>
                    </form>
                </div>
            </div>
            <hr/>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link posting-text photo-btn" href="#"><i class="fas fa-photo-video"></i> Photo/Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link posting-text memories-btn" href="#"><i class="fas fa-stars"></i> Memories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link posting-text gathering-btn" href="#"><i class="fas fa-users"></i> Gathering</a>
                </li>
            </ul>

        </div>
    </div>
</div>

@{
    foreach (var post in Model.UserPosts)
    {
        <div class="col-7 offset-md-5">
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <img src="@post.ApplicationUser.ProfilePicture" class="input-profile-img rounded float-start rounded-circle"/>
                        </div>
                        <div class="col-11 ps-0">
                            <h5 class="posts-username mb-0">@post.ApplicationUser.FullName</h5>
                            <h6 class="text-muted post-date-header">@post.PostDateTime.ToString("MMMM dd, yyyy")</h6>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col">
                            <p class="mb-0 fs-4">
                                @post.PostContent
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top border-top px-0 ms-3 me-3">
                    <div class="post-btn-section">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="btn btn-outline-danger w-100 border-0 fw-bold" aria-current="page" href="#"><i class="fas fa-thumbs-up"></i> Like</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-success w-100 border-0 fw-bold" href="#"><i class="fas fa-comment-alt-dots"></i> Comment</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-info w-100 border-0 fw-bold" href="#"><i class="fas fa-share"></i> Share</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body border-top px-0 ms-3 me-3">
                    <div class="row">
                        <div class="col-1">
                            <img src="@user.ProfilePicture" class="input-profile-img rounded float-start rounded-circle"/>
                        </div>
                        <div class="col-11 ps-0">
                            <form method="post" asp-route-id="@post.Id" asp-page-handler="comment">
                                <input type="text" class="form-control rounded-pill" placeholder="What's on your mind?" asp-for="CommentInput.CommentContent"/>
                                <input type="submit" hidden/>
                            </form>
                        </div>

                        @if (post.PostComments != null)
                        {
                            foreach (var comments in post.PostComments.OrderByDescending(e => e.CommentDateTime))
                            {
                                <div class="row gy-2">
                                    <div class="col-1">
                                        <img src="@comments.CommentBy?.ProfilePicture" class="input-profile-img rounded float-start rounded-circle"/>
                                    </div>
                                    <div class="col-md-auto ps-0">
                                        <div class="comment-block bg-opacity-25 bg-dark p-2 px-3 pe-3">
                                            <h6 class="mb-0"><a class="text-decoration-none fw-bold text-black" asp-area="Identity" asp-page="Profile" asp-route-residentId="@comments.CommentBy?.UserName">@comments.CommentBy?.FullName</a></h6>
                                            <p class="mb-0">@comments.Comment</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}


@* Picture *@
<div class="col-7 offset-md-5">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <h5 class="posts-username mb-0">黄梓妍</h5>
                    <h6 class="text-muted">November 9, 2019</h6>
                </div>
            </div>
        </div>
        <img src="~/img/yanz.jpg" class="card-img-bottom" alt="...">
        <div class="card-body border-top">
            <div class="posts-btn-section">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="btn btn-outline-danger w-100 border-0 fw-bold" aria-current="page" href="#"><i class="fas fa-thumbs-up"></i> Like</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success w-100 border-0 fw-bold" href="#"><i class="fas fa-comment-alt-dots"></i> Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-info w-100 border-0 fw-bold" href="#"><i class="fas fa-share"></i> Share</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body border-top px-0 ms-3 me-3">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <input type="text" class="form-control" placeholder="What's on your mind?"/>
                </div>
            </div>
        </div>
    </div>
</div>
@* Picture *@
<div class="col-7 offset-md-5">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <h5 class="posts-username mb-0">黄梓妍</h5>
                    <h6 class="text-muted post-date-header">November 9, 2019</h6>
                </div>
            </div>
        </div>
        <img src="~/img/yanz.jpg" class="card-img-bottom" alt="...">
        <div class="card-body">
            <div class="post-btn-section">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="btn btn-outline-danger w-100 border-0 fw-bold" aria-current="page" href="#"><i class="fas fa-thumbs-up"></i> Like</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success w-100 border-0 fw-bold" href="#"><i class="fas fa-comment-alt-dots"></i> Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-info w-100 border-0 fw-bold" href="#"><i class="fas fa-share"></i> Share</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body border-top px-0 ms-3 me-3">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <input type="text" class="form-control" placeholder="What's on your mind?"/>
                </div>
            </div>
        </div>
    </div>
</div>
@* Gathering *@
<div class="col-7 offset-md-5">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <h5 class="posts-username mb-0">黄梓妍 <span class="fs-6 fw-normal">posted an gathering to be held on 19 Dec 2022</span></h5>
                    <h6 class="text-muted post-date-header">November 9, 2019</h6>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <p class="mb-0 fs-4">
                        Mahjong @@ Ubi Block 325 #16-2741 Singapore 400011. Anyone keen do join!
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body border-top px-0 ms-3 me-3">
            <div class="post-btn-section">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="btn btn-outline-danger w-100 border-0 fw-bold" aria-current="page" href="#"><i class="fas fa-thumbs-up"></i> Like</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success w-100 border-0 fw-bold" href="#"><i class="fas fa-comment-alt-dots"></i> Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-info w-100 border-0 fw-bold" href="#"><i class="fas fa-share"></i> Share</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body border-top px-0 ms-3 me-3">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <input type="text" class="form-control" placeholder="What's on your mind?"/>
                </div>
            </div>
        </div>
    </div>

</div>
@* Standard *@
<div class="col-7 offset-md-5">
    <div class="card shadow border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <h5 class="posts-username mb-0">黄梓妍</h5>
                    <h6 class="text-muted post-date-header">November 9, 2019</h6>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <p class="mb-0 fs-4">
                        I am so happy to be here.
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body border-top border-top px-0 ms-3 me-3">
            <div class="post-btn-section">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="btn btn-outline-danger w-100 border-0 fw-bold" aria-current="page" href="#"><i class="fas fa-thumbs-up"></i> Like</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success w-100 border-0 fw-bold" href="#"><i class="fas fa-comment-alt-dots"></i> Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-info w-100 border-0 fw-bold" href="#"><i class="fas fa-share"></i> Share</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body border-top px-0 ms-3 me-3">
            <div class="row">
                <div class="col-1">
                    <img src="~/img/yanz.jpg" class="input-profile-img rounded float-start rounded-circle"/>
                </div>
                <div class="col-11 ps-0">
                    <input type="text" class="form-control" placeholder="What's on your mind?"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@* Status Input End *@

</div>

<div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">

    <div class="card shadow border-0">
        <div class="card-body p-4">
            <h4 class="card-title intro-title">About</h4>
            <div class="d-flex align-items-start mt-3">
                <div class="nav flex-column nav-pills pe-3 d-grid gap-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active text-start" id="v-pills-overview-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Overview</button>
                    <button class="nav-link text-start" id="v-pills-contact-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Contact and basic info</button>
                    <button class="nav-link text-start" id="v-pills-details-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Details about you</button>
                </div>
                <div class="tab-content ps-3 border-start w-100" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                @* <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"> *@
                                <i class="fas fa-briefcase overview-icon fa-lg flex-shrink-0 text-center"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Workplace</h6>
                                        <p class="mb-0 opacity-75">Wong Zi Yin's Home</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                <i class="fas fa-graduation-cap overview-icon fa-lg flex-shrink-0 text-center"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">School</h6>
                                        <p class="mb-0 opacity-75">Spring Brainy Kidz</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                <i class="fas fa-home overview-icon fa-lg flex-shrink-0 text-center"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Current City</h6>
                                        <p class="mb-0 opacity-75">Singapore</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                <i class="fas fa-map-marker-alt overview-icon fa-lg flex-shrink-0 text-center"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Hometown</h6>
                                        <p class="mb-0 opacity-75">Malaysia</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                <i class="fas fa-heart overview-icon fa-lg flex-shrink-0 text-center"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Relationship</h6>
                                        <p class="mb-0 opacity-75">Single</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                <i class="fas fa-mobile-alt overview-icon fa-lg flex-shrink-0 text-center"></i>
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                    <div>
                                        <h6 class="mb-0">Phone Number</h6>
                                        <p class="mb-0 opacity-75">82661667</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-contact" role="tabpanel" aria-labelledby="v-pills-contact-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-details" role="tabpanel" aria-labelledby="v-pills-details-tab">...</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <div class="row">
                <div class="col-9">
                    <h4 class="card-title intro-title">Friends</h4>
                </div>

                <div class="col-3">
                    <div class="form-group has-search">
                        <span class="fas fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" id="friends-searchbar" placeholder="Search Friends">
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/img/yanz.jpg" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 d-flex">
                                <div class="card-body my-auto">
                                    <div class="row">
                                        <div class="col-9 d-flex">
                                            <h5 class="card-title my-auto">Wong Zi Yin</h5>
                                        </div>
                                        <div class="col-3">
                                            <button class="btn bg-transparent">
                                                <i class="fas fa-user-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/img/yanz.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex">
                                <div class="card-body my-auto">
                                    <div class="row">
                                        <div class="col-9 d-flex">
                                            <h5 class="card-title my-auto">Wong Zi Yin</h5>
                                        </div>
                                        <div class="col-3">
                                            <button class="btn bg-transparent">
                                                <i class="fas fa-user-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/img/yanz.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 d-flex">
                                <div class="card-body my-auto">
                                    <div class="row">
                                        <div class="col-9 d-flex">
                                            <h5 class="card-title my-auto">Wong Zi Yin</h5>
                                        </div>
                                        <div class="col-3">
                                            <button class="btn bg-transparent">
                                                <i class="fas fa-user-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
    <div class="card shadow border-0">
        <div class="card-body p-4">
            <div class="row">
                <div class="col-9">
                    <h4 class="card-title intro-title">Photos</h4>
                </div>

                <div class="col-3 d-flex justify-content-end">
                    <button class="btn btn-primary"><i class="fas fa-plus"></i> Add Photos/Videos</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <a asp-area="" asp-page="Index">
                            <img src="~/img/carousel1.jpg" class="rounded img-fluid photos-images" alt="...">

                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/carousel2.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/贝贝71！.png" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/贝贝71！.png" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/贝贝71！.png" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/贝贝71！.png" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/yanz.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/yanz.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/yanz.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/yanz.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/yanz.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
                <div class="col-2">
                    <div class="ratio ratio-1x1">
                        <img src="~/img/yanz.jpg" class="rounded img-fluid photos-images" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="pills-more" role="tabpanel" aria-labelledby="pills-more-tab">

</div>
</div>